
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	background-color:#fcfafa;

}
.navbar{
	background:#00000099;
	position: fixed;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content:space-between;
	z-index: 5; 
}

label.logo{
	color:white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 50px;
	font-weight: bold;
}

label.logo h1{
   display: inline-block;
   font-size: 40px;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: background 0.3s;


}

.nav-link.active,.nav-link:hover{
	background: #ffffff99;
	color:rgba(0,0,0,0.6);
}

/* slideshow starts here */

@keyframes slider {
    0% {
        background-image: url("./5.jpg");
    }

    10% {
        background-image: url("./5.jpg");
    }

    25% {
        background-image: url("./6.jpg");
    }

    35% {
        background-image: url("./6.jpg");
    }

    50% {
        background-image: url("./7.jpg");
    }

    60% {
        background-image: url("./7.jpg");
    }

	75% {
		background-image: url("./8.jpg");
	}

	85% {
		background-image: url("./8.jpg");
	}
	100%{
		background-image: url("./5.jpg");
	}
}



.slideshow{
	
	width: 100%;
	height: 100vh;
	padding-top: 80px;
	background-repeat: no-repeat;
	background-size: 100% 120%;
    background-clip: border-box;
	animation: slider 7s infinite;
	/* filter: brightness(0.4);  */
}

.mask{
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: rgb(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
}

.lower-heading{
	position: absolute;
	transform: translate(-50%);
	text-align: center;
	top:40%;
	left:50%;
	color: #FDD037 ;
	opacity: 0.8;
	font-size: 140px;
	/* background: #00000099; */
	opacity: 0.75;	
}

.upper-heading{
	position: absolute;
	transform: translate(-50%);
	margin-top: 0.5%;
	color:#fff;
	top:58%;
	left:50%;
	font-size: 40px;
	opacity: 0.75;
	text-transform: uppercase;
}

.content {
	display: flex;
}

.content p{
	position: absolute;
	transform: translate(-50%);
	top:20%;
	left:50%;
	font-size: 30px;
	color:#fff;
	/* background-color: rgb(0, 0, 0,0.3); */
	opacity: 0.9;
	/* overflow: hidden; */
	overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    
	animation:
		typing 2.0s steps(25, end),
        blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 19%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}
/* slide show ends here */


/*card*/

.popular-list{
	
	padding:50px 0 50px 0px;
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	width: 20%;
	display: inline-flex;
	border-radius: 20px;
	/* margin-top: 40px; */
	overflow: hidden;
	transition: 0.5s ease;
	cursor: pointer;
}

.card img{
	width: 100%;
	/* margin: 20px; */
	border-radius: 20px;
	/* filter:brightness(0.5); */
	transition: 0.5s all ease-in-out;
}

.card img:hover{
	transform: scale(1.2);
	overflow: hidden;
}

.card-text {
	width: 20%;
	position: absolute;
	/* padding: 50px 30px 20px 20px; */
	/* margin-top:150px; */
	color: #fff;
	z-index: 1;
	padding-left: 10px;
	/* text-align: center; */
	opacity: 0.7;
	/* overflow: hidden;
    text-overflow: ellipsis; */
	/* overflow: hidden; */
	/* transition: all 0.3s; */
	/* background-color: #FDD037; */
}

.card-text h2{
	/* opacity: 0.6; */
	font-size: 20px;
	/* color: #000; */
	/* border: 2px solid #00000099 ; */
	/* background-color:#fff; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius:20px ;
	padding-top: 7px;
	z-index: 1;
	/* margin: 15px; */
	/* transition: all 0.3s;
	text-align: center; */
	
	/* padding: 3%; */
	
}

/* .card-text:hover{
	margin-top: 90px;
	transform: scale(1.15);
} */

.explore{
	background-image: url(25.jpg);
	/* height: 80%; */
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.8; */
	/* filter: brightness(0.3); */
	display: flex;
	justify-content: center;
}

.explore .mask{
	background-color: rgb(0, 0, 0, 0.7);
}

.explore-parent {
	width: 60%;
	padding: 8%;
	margin-bottom: 5%;
	margin-bottom: 5%;
}

.explore-sub-heading{
	/* position: absolute; */
	/* transform: translate(-50%); */
	/* color: #029049; */
	color: #fff;
	left: 50%;
	top:5%;
	font-size:25px;
	text-align: center;
}

.explore-heading{
	/* position: absolute; */
	/* transform: translate(-50%); */
	left:50%;
	padding: 1%;
	color: #fcc616cd;
	font-size: 80px;
	font-weight: 800;
	text-align: center;
}

.explore-about{
	text-align: center;
	font-size: 18px;
	color: #fcfafa;
}




/*pricing*/


.parent{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* height: 400px; */
	flex-direction: row;
}

.places-lower-heading{
	/* transform: translate(-50%);
	position: absolute;
	transform: translate(-50%); */
	/* top:103%; */
	padding-top:2%;  
	text-align: center;
	color: #FDD037 ;
	opacity: 0.9;
	font-size: 60px;
	/* opacity: 0.6;	 */
	display: block;
}

.places-upper-heading{
	/* position: absolute;
	transform: translate(-50%);
	top:108%; */
	/* margin-left:50%; */
	font-size: 30px;
	opacity: 0.8;
	text-align: center;
	/* float: top;		 */
	display: block;
}

.child{
	width: 20%;
	margin-left: 10px;
	margin-right: 10px;
	display: none; 
	background-color: #fff;
	margin-bottom: 50px;
	/* background-color: blue; */
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
	border-radius: 20px;

}

.child img{
	height: 200px;
	width: 100%;
	/* padding: 20px; */
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

#leftarrow , #rightarrow{
	/* margin-left: 12px;
	width: 3%; */
	display: inline-flex;	
}

#leftarrow button, #rightarrow button{
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
	padding: 8px;
	border-radius: 100%;
	transition: all 0.2s;
}

#leftarrow button:hover, #rightarrow button:hover{
	box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.name-and-price{
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
}

.price{
	/* float: right; */
	padding: 0 20px 10px 0px;
}

.name{
	/* float:left; */
	padding: 0 0px 10px 20px;
	cursor: pointer;
	
}
.name:hover{
	transition: text 2s ease 0.1s;
	color: #fa0d05;
	transform:scale(1.25);
}
.start{
	font-size: 0.75em;
	color:#969695;
}
.money{
	font-size: 1.25em;
	color:#57bd09;
}

.name-city{
	font-size:1.5em;
	font-family: 'Lora', serif;
}

.rating-review-section{
	padding: 0 20px 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.pricing-see-more{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pricing-see-more a{
	padding: 10px;
	margin-bottom: 30px;
	font-size: 15px;
	transition: all 0.3s;
	border-radius: 10px;
	border: 2px solid #000;
}

.pricing-see-more a:hover{
	background-color: black;
	color: #fff;

}

#information{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}



/* staff starts here */
.organization {
	background-image: url(26.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* filter: brightness(0.4); */
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.organization .mask {
	padding: 3%;
	background-color: rgb(0, 0, 0, 0.8);
}



.staff{
	/* background-image: url(22.jpg); */
	/* filter: brightness(1); */
	border: 2px solid #fff;
	color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 22%;
	height: 100%;
	margin: 3%;
	margin-top: 0%;
	/* z-index: 2; */
	padding: 1.5%;
	transition: all 0.3s;
	/* height: 80%; */
	/* flex-wrap: wrap; */
}	

.staff:hover{
	transform: scale(1.1);
	color: #000000;
	background-color: #fff;
	opacity: 0.9;
}

.staff img{
	/* align-items: center; */
	/* justify-content: center; */
	display: block;
	/* margin-left: auto;
 	margin-right: auto; */
	height: 250px;
	/* width:70%; */
	/* margin: 3% 4% 3% 2%; */
	border: 3px solid #fff;
	border-radius:100%;
	object-fit: cover;
	
}

.rating{
	text-align: right;
	margin: 2%;
}

.staff-name{
	text-align: center;
	margin: 5%;
}

.staff-contact-point{
	/* text-align: center; */
	justify-content: left;	
	/* padding-left: 10%; */
}

.staff-contact-info{
	margin: 2%;
}

.staff-contact-point{
	display: flex;
	margin: 2%;
}

.staff-contact-icon{
	margin-right:10px;
	font-size: 15px;
	color: #57bd09;
}

 /* about us starts here */

.about-us{
	/* display: flex;
	flex-direction:column; */
	 /* width: 80%;  */
	display: flex;
	flex-direction:row;
	padding-top: 4%;
	/* background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");	;	 */
}

.about-us-content-parent{
	width: 50%;
	display: flex;
	flex-direction:row;
	margin-left: 15%;	
	/* justify-content: space-around; */
	
}
.about-us-image{
	width: 50%;
	margin-right: 13%;
	margin-bottom: 1%;
	margin-left:5%;
	/* align-items: top; */
	/* transform: scale(0.5); */
	/* justify-content:left; */
	/* height: 50%; */
	
}
.about-us-image img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.about-us-content{
	
	display: flex;
	flex-direction:column;
	
	/* justify-content: space-around; */
}

.about-us-heading{
	padding-bottom: 2%;
	font-size: 40px;
	font-weight: bold;
	/* color: #FDD037; */
}

.about-us-info{
	/* width: 65%; */
	padding-bottom:3%;
	font-size: 18px;
	
} 
.read-more{
	display: flex;
	justify-content: left;
	/* margin-top: 5px; */
}

.read-more a{
	padding: 10px;
	margin-bottom:10px;
	font-size: 15px;
	font-weight: bold;
	transition: all 0.3s;
	/* color: #FDD037; */
	border-radius: 10px;
	border: 2px solid #000;
}

.read-more a:hover{
	cursor: pointer;
	transition: 0.5s ease;
	transform: scale(1.12);
	background-color: #000;;
	
	color: #fff;

}


/* new section of about us(choose here starts here) */

.choose-us-parent{
	display: flex;
	flex-direction: row;
	/* background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");	;	 */
}
.choose-us-child1{
	width: 50%;
}
.choose-us-child2{
	width :50%;
	display: flex;
	flex-direction: column;
}
.choose-us{
	display: flex;
	flex-direction: row;
}
/* .choose-us-logo{
	font-size: 40px;
	align-items: center;
} */

.box1 {
  width: 50%;
  padding: 0.5% 0.5% 2% 15%;
  justify-content: right;
}

.box1 img{
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}

.box2{
	width: 40%;
	padding: 1% 1% 1% 1%;
	
}

.box2 img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
  	border-radius: 5px;
	
}

.box3{
  width:50% ;
  padding: 1% 15% 1% 2%;
  
}
.box3 h1{
	font-size: 35px;
}
.box4{
	width: 40%;
	padding: 2% 1% 4% 2%;
}

.box5{
	width: 50%;
	padding: 2% 15% 4% 1%;
}

.box5 img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
  	border-radius: 5px;
}
/* about us ends here */


/* contact us starts here */


/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
	width: 100%; /*Full width  */
	padding: 12px; /*Some padding   */
	border: 1px solid #fff; /*Gray border */
	box-sizing: border-box; border-radius: 4px; /* Rounded borders */
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
	 /* Make sure that padding and width stays in place */
	/* margin-top: 6px; Add a top margin */
	/* margin-bottom: 16px; Bottom margin */
	/* resize: vertical Allow the user to vertically resize the textarea (not horizontally) */
   } 
   
.contact-section{
	/* background-image: url(30.jpg);
	background-repeat: no-repeat; */
	padding-right: 2%;
	position: relative;
	align-items:right;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	height: 600px;
	/* background-color: #fff; */
	/* background-image: url("https://www.transparenttextures.com/patterns/maze-black.png"); */
	/* background-image: url(27.jpg); */
	/* object-fit: cover; */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
	margin-right: 10%;
	margin-bottom: 30px;

}
.contact-form{
  /* background-color: rgb(253, 208, 55); */
  background-color: #00000099;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
  /* border-radius: 5px; */
  flex: 2;
  /* background-color: #f2f2f2; */
  padding: 3%;
  padding-bottom: 0.5%;
  /* margin: 3%; */
  height:600px;
  width: 45%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  /* border-radius: 15px; */
  /* z-index: 1; */
  
}

.contact-form #heading{
	padding: 0px;
	margin-bottom: 20px;
	color: #fff;
	/* color: #029049; */
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}

.contact-form label{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.contact-form input, .contact-form select, .contact-form textarea {
	margin-top : 10px;
	margin-bottom: 10px;
	/* background: #ffffff99; */
}

.contact-form textarea {
	height: 200px;
}

.contact-section-image{
	/* display: inline-flex; */
	padding-left: 17%;
	/* height: 100%; */
	/* border-radius:30px; */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	/* width: 30%; */
	height: 100%;
	flex: 3;
}


.contact-section-image img{
	object-fit: cover;
	/* transform:scale(1.15); */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: auto;
	height: 100%;
	object-position: -60px;
}

.btn{
	display: flex;
	cursor: pointer;
	/* background-color: #FDD037; */
	color: #fff;
	padding: 3%; 
	border: 1px solid transparent;
	border-radius: 10px;
	margin: auto;
	background-color: #57bd09;
	transition: all .2s;
}

.btn:hover{
	transform: scale(1.15);
	background-color:#FDD037;
	border: 2px solid #fcfafa;
	font-weight: bold;

}


/* footer starts here */
.footer {
	display: flex;
	flex-direction: row;
	background-color: #000000;
	opacity: 0.85;
	color: #fff;
	padding: 80px 60px;

}

.footer-note {
	flex: 2;
	/* display: inline-flex; */
	/* background-color: DarkSalmon; */
	/* height: 200px; */
	/* margin: 0px; */

}

.contact-us {
	flex: 1;
	/* display: inline-flex; */
	/* background-color: DarkSalmon; */
	/* height: 200px; */
}

.footer-note h1{
	margin-bottom: 15px;
	/* color: #FDD037; */
}

.footer-description {
	font-size: 18px;
	width: 70%;
	margin-bottom: 10px;
}

.footer-points {
	font-size: 12px;
	margin: 20px 15px;
	display: flex;
}

.footer-points h3 {
	color: #fff;
	font-size: 22px;
}

.footer-points a{
	color: #FDD037;
	font-size: 15px;
}
.footer-points a:hover{
	color:#57bd09;
}
.footer-icon {
	font-size: 43px;
	margin-right: 20px;
	color:#57bd09;
	/* opacity: 0.8; */
}

.contact-point{
	display: flex;
	margin: 2%;
}

.contact-icon{
	margin-right: 20px;
	font-size: 30px;
	color: #57bd09;
}
.contact-logo{
	display: flex;
	margin: 2%;
	margin-top: 20px;
	/* background-color: white; */
	/* justify-content: center; */
	font-size: 30px;
}

.social-logo{

	margin: 10px;
	margin-top:40px;
	transition: color 0.3s;
	color: #FDD037;
}

.social-logo:hover{
	color: limegreen;
}


@media screen and (max-width: 1400px) {
	.upper-heading{
		font-size: 35px;
	}
}

@media screen and (max-width: 1310px) {
	.staff {
		width: 25%;
	}

	.about-us-content-parent{
		margin-left: 9%;
	}

	.about-us-image{
		margin-right: 8%;
	}

	.box1{
		padding-left: 9%;
	}

	.contact-section-image {
		padding-left: 10%;
	}

	.price{
		padding-right: 0px;
	}
}

@media screen and (max-width: 1240px) {
	.lower-heading {
		font-size: 120px;
	}
	.upper-heading {
		margin-top: 0px;
		font-size: 30px;

	}
	.explore-heading {
		font-size: 70px;
	}

	.contact-form #heading {
		font-size: 40px;
	}

	label.logo h1{
		font-size: 35px;
	}

	nav ul li a {
		padding: 5px 8px;
		font-size: 16px;
	}

	.rating-review-section {
		margin-top: 7px;
	}
	.rating-review-section p{
		font-size: 14px;
	} 

	.pricing-see-more {
		margin-top: 7px;
	}
}

@media screen and (max-width: 1100px) {
	.child {
		width: 25%;
	}
}


@media screen and (max-width: 1060px) {
	.contact-section {
		height: 550px;
	}

	.contact-form {
		height: 550px;
	}

	.contact-form textarea {
		height: 170px;
	}

	.explore-parent {
		width: 70%;
		padding: 6%;
		margin-bottom: 0px;
	}

	.explore-heading {
		font-size: 60px;
	}

	.organization {
		height: 450px;
	}
	.about-us-heading {
		font-size: 35px;
	}
	.about-us-info p{
		font-size: 16px;
	}

	.read-more a {
		padding: 5px;
		font-size: 13px;
	}

	.box3 h1, .box4 h1 {
		font-size: 25px;
	}

	.box3 p, .box4 p{
		font-size: 13px;
	}

	.contact-section {
		height: 500px;
	}

	.contact-form {
		height: 500px;
	}

	.contact-form #heading {
		margin-bottom: 5px;
	}

	.contact-form textarea {
		height: 140px;
	}

	.popular-list{
		justify-content: space-evenly;
	}

	.card{
		width: 43%;
		margin-bottom: 3.5%;

	}

	.card-text h2{
		font-size: 35px;
		margin: 5%;
	}

	nav ul li{
		margin-left: 2px;
	}

	.nav ul li a {
		padding: 4px 4px;
		font-size: 10px;
	}
	.upper-heading{
		font-size: 25px;
		top:56%;
	}
	.lower-heading{
		font-size: 100px;
	}
}

@media screen and (max-width: 1020px) {
	.staff img {
		height: 200px;
	}
	.organization {
		height: auto;
	}

	label.logo {
		padding: 0 30px;
	}

	nav ul{
		margin-right: 10px;
	}
}

@media screen and (max-width: 950px) {
	label.logo h1{
		font-size: 30px;
	}

	nav ul li a {
		font-size: 14px;
	}

	.box3 h1, .box4 h1{
		font-size: 18px;
	}

	.footer-icon{
		font-size: 35px;
	}
	.footer{
		padding: 40px 30px;
	}

	.footer-description{
		font-size: 15px;
	}
	.footer-points{
		margin: 10px 8px;
	}
	.footer-note{
		height: 250px;
	}

	.footer-points h3{
		font-size: 18px;
	}
	.footer-points p{
		font-size: 10px;
	}
}

@media screen and (max-width: 875px) {
	@keyframes typing {
		from {
			width: 0
		}
	
		to {
			width: 26%;		
		}
	}
	.upper-heading {
		font-size: 22px;
		top: 53%;
	}

	.lower-heading {
		font-size: 80px;
	}

	.content p{
		font-size: 25px;
	}

	.staff-name h2{
		font-size: 20px;
	}

	.about-us-heading{
		font-size: 30px;
	}

	.box3 h1, .box4 h1{
		font-size: 15px;
	}

	.contact-section {
		height: 450px;
	}

	.contact-form{
		height: 450px;
	}

	.contact-form textarea{
		height: 120px;
	}

	.contact-form input{
		margin-top: 7px;
	}


	

	/* number of cards 2 */
}

@media screen and (max-width:855px) {
	label.logo{
		padding: 0 20px;
		
	}

	label.logo h1{
		font-size: 25px;
	}

	nav ul li a{
		font-size: 12px;
	}

}

@media screen and (max-width:780px) {
	.explore-about{
		font-size: 15px;
	}
}