
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	background-color:#dce2f7;
}
nav{
	background:#0b247d;
	height: 80px;
	height: 100%;
}

label.logo{
	color:white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;

}

a.active,a:hover{
	background: #08034a;
	color:rgba(250, 242, 7,0.8);
}


/*slider*/

.slider{
  width: 60%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 40px 20px 100px;

  
}

.slides{
  width: 800%;
  height: 500px;
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}


.slide img{
  align-items: center;
  width: 800px;
  height: 500px;

}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 100px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 100px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


.main{	
	text-align: center;
	margin-top: 30px;
	transition: all 2s ease 0.5s ;
}
.main:hover{
	transform: scale(1.5);
	color:#0b247d;
}



/*card*/
.popular-list{
	padding:30px 0 30px 70px;
}

#subtitle{
	margin:0;
	text-transform: capitalize;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 2em;
	text-align:center;
	color: #0b247d;
	margin-top: 100px;

}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 95%;
  grid-template-areas: "image" "text";

  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: sans-serif;
  text-align: justify-all;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  text-align: left;
  font-family: 'Shadows Into Light', cursive;
  color: rgb(255, 7, 110);
  font-size:20px;
}
.card-text p {
  color: grey;
  font-family: 'Shadows Into Light', cursive;
  font-size:15px;
  font-weight: 300;
  margin-bottom: 10px;
}
.card-text h2 {
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  font-weight: 800;
  margin-top:0px;
  font-size:28px;
  text-align: center;
}

.card img{
	border-radius: 15px;
	width: 95%;
    height: 180px;
	padding:10px;
	background: cover;
	
}

.card:hover {
  transform: scale(1.35);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  padding-bottom: 10px;
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:20px;
}

/*about-us*/

.about{
	display:flex;
	flex-direction:column;
	text-align:justify-all;
	box-sizing: border-box;
	margin:10px;
	float: right;

	
}


.about-subtitle{
	font-family: 'Shadows Into Light', cursive;
	font-size:30px;
	color: #0b247d;
}

.item-title{
	display: inline-block;
	text-transform: capitalize;
	font-family: 'Lora', serif;
	margin: 10px;
}
.item-text{
	display: block;
	margin-left: 10px;
}
.section-title{
	font-family: 'Lora', serif;
	font-size: 40px;
	font-weight: 100;
}

.about-video{
	margin: 20px;
	height:250px;
	width:400px;
}






/*pricing*/

.parent{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.child{
	width: 20%;
	margin-left: 10px;
	margin-right: 10px;
	display: none; 
	border: 5px double #0b247d;
	background-color: white;
}

.child img{
	height: 200px;
	width: 100%;
	padding: 20px;
}

#leftarrow , #rightarrow{
	margin-left: 12px;
	width: 3%;
	display: inline-block;
}

#leftarrow button, #rightarrow button{
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
}

.price{
	float: right;
	padding: 0 20px 10px 0px;
}

.name{
	float:left;
	padding: 0 0px 10px 20px;
	cursor: pointer;
	
}
.name:hover{
	transition: text 2s ease 0.1s;
	color: #fa0d05;
	transform:scale(1.25);
}
.start{
	font-size: 0.75em;
	color:#969695;
}
.money{
	font-size: 1.25em;
	color:#57bd09;
}

.name-city{
	font-size:1.5em;
	font-family: 'Lora', serif;
}


#information{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}
/*staff*/
#our{
	justify-content:left;
	font-family: 'Lora', serif;
	font-size: 30px;
	margin-left: 30px
}

.managment{
	margin-left: 40px;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 500px;
}

.staff{
	border-radius:75px;
	width: 280px;
	height: 450px;
	margin: 10px;
	padding: 15px;
	display: none; 
	border: 5px solid bold;
	background-color: white;
}

.staff img{
	height: 200px;
	border-radius:75px;
	width: 100%;
	padding: 20px;
}
.specific{
	padding: 10px;
	font-size: 30px;
	font-weight: 150;
	text-align: center;
}


.rating-star{
	text-align: right;
	margin-bottom: 10px;
}


.button {
  display: inline-block;
  border-radius: 100px;
  background-color: #0b247d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*contact Us*/
#heading{
	text-align: left;
	padding:5px;
	font-size: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0b247d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #08034a;
}

/* Add a background color and some padding around the form */
.contact{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  height: 650px;
  width:30%;
}



.contact-info{
	margin: 20px;
}


/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* google */
.fa-google{
  background:#dd4b39;
  color: white;
}

/* instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  transform: scale(1.5);
}


@media only screen and (max-width: 700px){
		nav ul{
		width: 100%;
		background: #0b247d;
		position: absolute;
		top:75px;
		right: 0;
		z-index: 2;	
		}	
}




















